# Database Connection (PostgreSQL Local)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/penilaian_asistensi?schema=public"

# Auth Secret (Kunci enkripsi JWT untuk Cookie)
# Jalankan `openssl rand -base64 32` untuk generate kunci acak
AUTH_SECRET="ganti_dengan_secret_key_acak_minimal_32_karakter"

# MinIO / S3 Storage (Local)
S3_ENDPOINT="http://127.0.0.1:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadmin"
S3_BUCKET_NAME="tugas-asistensi"
S3_REGION="us-east-1"
